<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"        
      xmlns:context="http://www.springframework.org/schema/context"      
      xmlns:tx="http://www.springframework.org/schema/tx"     
      xsi:schemaLocation="http://www.springframework.org/schema/beans                               
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd                              
      http://www.springframework.org/schema/context                               
      http://www.springframework.org/schema/context/spring-context-3.2.xsd                               
      http://www.springframework.org/schema/tx                               
      http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">      
      <context:annotation-config/>                         
      <context:component-scan base-package="com.marck" />
	 	<!-- 获取数据源 -->
		<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
			<property name="driverClass" value="com.mysql.jdbc.Driver" />
			<!-- <property name="jdbcUrl" value="jdbc:mysql://114.215.140.27:3306/money?useUnicode=true&amp;characterEncoding=UTF-8" />
			<property name="user" value="remote" />
			<property name="password" value="123456" /> -->
			
			<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mtiw?useUnicode=true&amp;characterEncoding=UTF-8" />
			<property name="user" value="test" />
			<property name="password" value="pengyou.com" />
			
			<!-- 指定连接数据库连接池的最大连接 -->
			<property name="maxPoolSize" value="50" />
			<!-- 指定连接数据库连接池的最小连接 -->
			<property name="minPoolSize" value="10" />
			<!-- 指定连接数据库连接池的初始化连接数 -->
			<property name="initialPoolSize" value="10" />
			<property name="acquireIncrement" value="5" />
			<property name="numHelperThreads" value="10" />
			<property name="maxStatementsPerConnection" value="100" />
			<!-- <property name="idleConnectionTestPeriod" value="10000" />
			<property name="testConnectionOnCheckin" value="true" /> -->
			<!-- 指定连接数据库连接池的最大空闲时间 -->
			<property name="maxIdleTime" value="1800" />
		</bean>
	
<!-- 另一种获取数据源方式
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	-->
	
	<!-- 获取SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		 <property name="packagesToScan">
			<list>
				<value>com.marck.common.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- 事物管理 -->
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!-- 使用Annotation事物管理 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
</beans>



